header {
  position: absolute;
  color: $white-text-color;
  z-index: 3;
  // height: 100px;

  .navbar {
    background-color: $red-container-color;

    .container {
      a {
        color: $white-text-color;
        font-family: "Montserrat", sans-serif;
        font-weight: 600;
      }
      .collapse {
        margin-top: -25px;
        ul {
          li {
            a {
              font-size: 18px;
              color: $white-text-color;
              font-weight: normal;
              border-top: 6px solid $red-text-color;
              font-family: "Varela Round", sans-serif;
              font-weight: 400;
            }
            a:hover {
              border-top: 6px solid $white-text-color;
              padding-top: 30px;
            }
          }
        }
      }
    }
  }
}
