.gallery-container {
  .gallery-block {
    max-width: 1272px;
    .gallery-block-text {
      h1 {
        color: $red-text-color;
        white-space: nowrap;
        font-family: "Montserrat", sans-serif;
        font-size: 48px;
        font-weight: 600;
        margin-bottom: 20px;
      }
      p {
        color: $gray-text-color;
      }
    }
  }
  .gallery-block-images {
    .gallery-images-content {
      .gallery-images-content-item {
        max-height: 500px;
        position: relative;
        background-color: $img-hover-container-color;

        img {
          position: inherit;
          height: 100%;
          width: 100%;
          max-height: 600px;
          object-fit: cover;
          transition: transform 0.3s ease;
          z-index: 2;
        }
        &:hover {
          img {
            transform: translateY(-60px);
          }
        }
        .image-label {
          position: relative;
          top: -50px;
          left: 0;
          right: 0;
          z-index: 1;
          background-color: $img-hover-container-color;

          p {
            color: $white-text-color;
            margin: 0;
          }
          .likes {
            margin-top: 4px;
            p, i {
              color: $red-text-color;
            }
            i {
              cursor: pointer;
            }
          }
        }
      }
    }
  }
}

