@import "./variables/fonts";
@import "./variables/colors";

* {
  margin: 0;
  padding: 0;
}

@import "./layouts/header";

.container-fluid {
  padding: 0;
  main {
    .main-banner {
      position: relative;
      padding: 0;

      .slider-banner-content {
        .slick-dots {
          top: 90%;
        }
        .slider-banner-item {
          height: 77vh;
          margin-top: 87px;
          background-color: $red-container-color;
          background: #de5d5d;
          background-color: #de5d5d;
          background-image: url("../images/iPhone.png");
          background-repeat: no-repeat;
          background-size: cover;
          background-position: 60% 100px;
          color: $white-text-color;

          .banner-button-block {
            button {
              border: 2px solid $white-text-color;
            }
          }
          h1 {
            font-family: "Montserrat", sans-serif;
            font-size: 6em;
            letter-spacing: -1.1px;
            font-weight: 600;
            white-space: nowrap;
          }
        }

        .slick-dots {
          display: flex;
          justify-content: center;
          position: absolute;
          li {
            width: 0.6rem;
            height: 0.6rem;
            list-style: none;
            &.slick-active button {
              background: #fff;
            }
          }
          button {
            padding: 3px;
            font-size: 0;
            width: 10px;
            height: 10px;
            background-color: transparent;
            border-radius: 50%;
            border: 1px solid white;

            &::before {
              content: "";
            }
          }
        }
      }
    }
    .about {
      margin: 0 auto;
      position: relative;
      height: 695px;
      opacity: 0.98;
      .about__title {
        margin: 100px 0 0 410px;
        position: absolute;
        white-space: nowrap;
        height: 46px;
        color: #3a3a3a;
        font-family: "Montserrat";
        font-size: 48px;
        font-weight: 600;
        text-align: left;
      }
      .about__categories {
        display: flex;
        margin: 220px 0 0 18px;
        justify-items: center;
        align-items: center;
        position: absolute;
        .category__item {
          margin-right: 170px;
          &:last-child {
            margin-left: 12px;
          }
          .item__img {
            padding-left: 10px;
          }
          .item__text {
            position: absolute;
            width: 270px;
            text-align: center;
            color: #666666;
            font-size: 16px;
            font-weight: 400;
            line-height: 24px;
            margin: 37px 0 0 -10px;
            font-family: Montserrat;

            span {
              text-align: center;
              width: 229px;
              height: 90px;
              color: #666666;
              font-size: 16px;
              font-weight: 600;
              line-height: 24px;
              margin-left: -10px;
            }
          }
        }
      }
    }
  }
}
