@import url("https://fonts.googleapis.com/css2?family=Varela+Round&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");

@font-face {
  font-family: "Varela Round", sans-serif;
  src: url("https://fonts.googleapis.com/css2?family=Varela+Round&display=swap");

  font-family: "Montserrat", sans-serif;
  src: url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
}

* {
  font-family: "Varela Round", sans-serif;
  margin: 0;
  padding: 0;
}

header {
  position: absolute;
  color: #ffffff;
  z-index: 3;

  .navbar {
    background-color: #de5d5d;

    .container {
      a {
        color: #ffffff;
        font-family: "Montserrat", sans-serif;
        font-weight: 700;
      }
      .collapse {
        ul {
          li {
            a {
              color: #ffffff;
              font-weight: normal;
              border-top: 3px solid #de5d5d;
              font-family: "Varela Round", sans-serif;
              font-weight: 400;
            }
            a:hover {
              border-top: 3px solid #ffffff;
            }
          }
        }
      }
    }
  }
}

.container-fluid {
  padding: 0;
  main {
    .main-banner {
      position: relative;
      padding: 0;

      .slider-banner-content {
        .slick-dots {
          top: 90%;
        }
        .slider-banner-item {
          height: 85vh;
          background-color: #de5d5d;
          background-image: url("../images/iPhone.png");
          background-repeat: no-repeat;
          background-size: cover;
          background-position: 60% 100px;
          color: #ffffff;

          .banner-button-block {
            button {
              border: 2px solid #ffffff;
            }
          }
          h1 {
            font-family: "Montserrat", sans-serif;
            font-size: 4em;
            font-weight: 700;
          }
        }

        .slick-dots {
          li {
            margin: 0;
            padding: 0;
            button {
              &:before {
                width: 0.6rem;
                height: 0.6rem;
                border: 1px solid #ffffff;
                border-radius: 50%;
              }
            }

            &.slick-active {
              button {
                &:before {
                  background-color: #ffffff;
                }
              }
            }
            button {
              &::before {
                content: "";
              }
            }
          }
        }
      }
    }
  }
}
