// Container backgtounds
$red-container-color: #de5d5d;
$white-container-color: #ffffff;
$dark-gray-container-color: #262626;
$medium-gray-container-color: #313131;
$light-gray-container-color: #e7e7e7;
$img-hover-container-color: #151515;
$footer-container-color: #f4f4f4;

// Text color
$heart-like-lable-color: #f06464;
$red-text-color: #de5d5d;
$white-text-color: #ffffff;
$gray-text-color: #666666;
$light-gray-text-color: #aeaeae;
$black-text-color: black;

$gray-h-color: #3a3a3a;

$input-border-color: #bababa;
$input-focus-border-color: rgb(30, 83, 29);
$input-shadow-color: rgba(46, 129, 29, 0.6);
$input-error-color: red;
$input-shadow-error-color: rgba(255, 0, 0, 0.5);


$shadow-2: rgba(0, 0, 0, 0.2);
$shadow-3: rgba(0, 0, 0, 0.2);